html,body {
    height: 100%
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding-top:60px;
    padding-bottom:20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

iframe {
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    border: solid 1px lightgray;
}

/*bootstrap*/
.fill {
    min-height: 100%;
    height: 100%;
}

.nav, .pagination, .carousel a { cursor: pointer; }

.nav-tabs {
    margin-bottom: 10px;
}

.nav-tabs > li:nth-of-type(1) {
    margin-left: 10px;
}